:root {
  font-family: Raleway;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: white;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.get-started-wrapper{
  display:flex;
  justify-content: center;

}


.body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.my-container {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  
}

.my-card {
  height: 500px;
  width: 500px;
  margin: 50px;
}

.image {
  border: solid;
  border-color: white;
  border-radius: 500px;
  height: 300px;
  width: 300px; 
}

.img {
  border: solid;
  border-color: white;
  border-radius: 500px;
  height: 300px;
  width: 300px;
  
}


.my-card:hover {

  cursor: pointer;
}

.get-started{
  font-weight: 200;
  color: white;
  text-decoration: inherit;
  text-align: center;
  border-style: solid;
  background: rgba(255, 255, 255, 0.049);
  border-width: thin;
  display: flex;
  width: 200px;
  justify-content: center;

}

.video-responsive{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.get-started:hover {
  background-color: white;
}

.bold{
  justify-content: center;
  display:flex;
  font-family: Raleway;
  font-weight: bold;
}

body {
  margin: 0;
  display: flex;
  align-items: left;
  min-width: 320px;
  min-height: 100vh;
}

.my-h1 {
  font-family: Raleway;
  color: white;
  font-weight: bold;
  font-size: 3em;
  line-height: 0;
  margin: 100px;
}

.my-h2 {
  color: white;
  font-weight: bold;
  font-size: 4em;
  margin: 100px;
  text-align: center;
  font-family: Raleway;
}

.my-h3 {
  color: white;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  font-family: Raleway;
  margin: 50px;
}


p {
  font-weight: lighter;
  font-size: 1em;
  color: white;
}
.cardp {
  font-weight: lighter;
  font-size: 1em;
  padding-top: 10%;
}

.homep {
  font-weight: lighter;
  font-size: 1em;
  padding-left: 10%;
  padding-bottom: 2%;
  padding-right: 10%;
  line-height: 2;
}

.background-image {
  margin: 0;
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:100vh;
}

.logo{
  width: 15%;
  padding-left:2%;
  border-bottom: white;

}

.overlay{
  width: 100%;
  height: 100%;
  font-size:26px;
}

button {
  border-radius: 6px white;
  background: transparent;
  margin:250px;
  padding: 0.6em 1.2em;
  font-size: 5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: #ffffff;
  }
  a:hover {
    color: white;
  }
  button {
    background-color: #f9f9f9;
  }
}

