h1 {
    font-weight: bold;
    font-size: 10em;
    line-height: 1.1;
    margin: 250px;
  }
  
  p {
    font-size: 5em;
    margin:500px;
  }
  
  .background-image {
    margin: 0;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
  }
  
  .logo{
    width: 15%;
    padding: 0px;
  
  }